<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
        Playing vs <a href="view">{{agent_name}}</a> (Env: <a href="/env/{{env_name}}/view">{{env_name}}</a>)
      </h3>
      
      <pre>{{game.pretty_print(do_print=False)}}</pre>
      <form method="post">
         <input type="hidden" name="game_state" value="{{game_json}}">
         <input type="hidden" name="game_reset_state" value="{{game_reset_json}}">
         <input type="hidden" name="game_prev_turn_str" value="{{game_prev_turn_str}}">
         <input type="hidden" name="agent_actions_str" value="{{agent_actions_str}}">
         <input type="submit" name="undo" value="Reset Turn">
         <input type="submit" name="end" value="End Turn">
         <table>
            <tr>
               <td>
                  <input type="submit" name="move" value="Move">
               </td>
               <td>
                  (<input type="text" name="move_from_i" style="width:10px">,
                  <input type="text" name="move_from_j" style="width:10px">)
               --->
                  (<input type="text" name="move_to_i" style="width:10px">,
                  <input type="text" name="move_to_j" style="width:10px">)
            </tr>
            <tr>
               <td>
                  <input type="submit" name="spawn" value="Spawn">
               </td>
               <td>
                  <input type="text" name="spawn_unit_type" style="width:50px">
               --->
                  (<input type="text" name="spawn_to_i" style="width:10px">,
                  <input type="text" name="spawn_to_j" style="width:10px">)
            </tr>
         </table>
      </form>
      Start of this turn:
      <pre>{{game_reset.pretty_print(do_print=False)}}</pre>
      <br>
      Agent actions:
      {{agent_actions_str}}
      <br>
      End of your last turn:
      <pre>{{game_prev_turn_str}}</pre>
   </body>
</html>